IDF ===> Inverse Document Frequency
IDF(t))= logf(Total Documents/ Number of documents t is present in )

TF ====> Term Facor
TF(t,d) = (Total number of time term t is present in doc A/Total number of tokens in doc A)

TF-IDF = TF * IDF

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
corpus = [
    "Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes"
]

In [7]:
v =  TfidfVectorizer()
transfomed_output = v.fit_transform(corpus)
print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [14]:
all_feature_names = v.get_feature_names_out()

for word in all_feature_names:
    index = v.vocabulary_.get(word)
    print(word, " | ",v.idf_[index])

already  |  2.386294361119891
am  |  2.386294361119891
amazon  |  2.386294361119891
and  |  2.386294361119891
announcing  |  1.2876820724517808
apple  |  2.386294361119891
are  |  2.386294361119891
ate  |  2.386294361119891
biryani  |  2.386294361119891
dot  |  2.386294361119891
eating  |  1.9808292530117262
eco  |  2.386294361119891
google  |  2.386294361119891
grapes  |  2.386294361119891
iphone  |  2.386294361119891
ironman  |  2.386294361119891
is  |  1.1335313926245225
loki  |  2.386294361119891
microsoft  |  2.386294361119891
model  |  2.386294361119891
new  |  1.2876820724517808
pixel  |  2.386294361119891
pizza  |  2.386294361119891
surface  |  2.386294361119891
tesla  |  2.386294361119891
thor  |  2.386294361119891
tomorrow  |  1.2876820724517808
you  |  2.386294361119891

In [16]:
corpus[:2]

['Thor eating pizza, Loki is eating pizza, Ironman ate pizza already',
 'Apple is announcing new iphone tomorrow']

In [19]:
transfomed_output.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

In [20]:
import pandas as pd 

df = pd.read_csv("Ecommerce_data.csv")
df

,Text,label
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household
1,"Contrast living Wooden Decorative Box,Painted ...",Household
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories
...,...,...
23995,Marvel Physics MCQ's for MHT - CET,Books
23996,Internet Download Manager | Lifetime License |...,Books
23997,Sadhubela's Handcrafted Iron Degchi Handi Pot ...,Household
23998,Audio-Technica AT-LP60 Automatic Belt Driven D...,Electronics
23999,LG GH24NSB0 DVD Writer 24X SATA Internal OEM P...,Electronics

In [21]:
df.shape

(24000, 2)

In [23]:
df.label.value_counts()

label
Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: count, dtype: int64

In [25]:
df["label_num"]= df.label.map({'Household':0, 'Electronics':1, 'Clothing & Accessories':2, 'Books':3})

In [26]:
df.head()

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,1
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,2
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,2

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.Text, 
                                                    df.label_num, 
                                                    test_size = 0.2, 
                                                    random_state = 2022,
                                                    stratify = df.label_num
                                                   )

In [33]:
x_train.shape, x_test.shape

((19200,), (4800,))

In [36]:
y_train.value_counts()

label_num
0    4800
2    4800
3    4800
1    4800
Name: count, dtype: int64

In [39]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [40]:
classifier = Pipeline([
    ('vectorizer_TFIDF', TfidfVectorizer()),
    ('KNN',KNeighborsClassifier())
    
])
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.95      0.96      0.95      1200
           1       0.96      0.97      0.97      1200
           2       0.97      0.98      0.98      1200
           3       0.98      0.95      0.96      1200

    accuracy                           0.97      4800
   macro avg       0.97      0.97      0.97      4800
weighted avg       0.97      0.97      0.97      4800

In [41]:
x_test[:5]

20706    Lal Haveli Designer Handmade Patchwork Decorat...
19008    tirupur fashion biz Girls and Kids Solid Cotto...
14810    Modern Linguistics: An Introduction About The ...
2451     AmazonBasics Apple Certified 30-Pin to USB Cab...
6296     The Marine Corps Martial Arts Program: The Com...
Name: Text, dtype: object

In [42]:
y_test[:5]

20706    0
19008    2
14810    3
2451     1
6296     3
Name: label_num, dtype: int64

In [43]:
y_pred[:5]

array([0, 2, 3, 1, 3], dtype=int64)

In [44]:
classifier = Pipeline([
    ('vectorizer_TFIDF', TfidfVectorizer()),
    ('KNN',MultinomialNB())
    
])
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.93      0.96      0.95      1200
           1       0.96      0.96      0.96      1200
           2       0.97      0.98      0.98      1200
           3       0.98      0.93      0.95      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

In [52]:
from sklearn.ensemble import RandomForestClassifier
classifier = Pipeline([
    ('vectorizer_TFIDF', TfidfVectorizer()),
    ('KNN',RandomForestClassifier())
    
])
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96      1200
           1       0.97      0.97      0.97      1200
           2       0.98      0.98      0.98      1200
           3       0.98      0.97      0.98      1200

    accuracy                           0.97      4800
   macro avg       0.97      0.97      0.97      4800
weighted avg       0.97      0.97      0.97      4800

In [50]:
import spacy
nlp = spacy.load("en_core_web_sm")
def preprocess(text):
    # remove stop words and lemmatize the text
    doc = nlp(text)
    filtered_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    
    return " ".join(filtered_tokens)

In [51]:
df["processed_text"] = df.Text.apply(preprocess)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df.processed_text, 
                                                    df.label_num, 
                                                    test_size = 0.2, 
                                                    random_state = 2022,
                                                    stratify = df.label_num
                                                   )

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = Pipeline([
    ('vectorizer_TFIDF', TfidfVectorizer()),
    ('KNN',RandomForestClassifier())
    
])
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)
print(classification_report(y_test,y_pred))